@charset "utf-8";
/* CSS Document */


.aboutuscontext{
	text-align:left;
	}

.aboutuscontext p{
	text-indent:30px;
	font-size: 18px;

	letter-spacing:1.5px;　 
	ine-height:5em;
	width:100%;
	padding:15px 0
}

.aboutusimg{
	
width:380px;
	float: right;
	margin: 0 0 1em 2.5em; 
	padding:0 0 0em 0;
	border-style:solid; 
	border-color:#333; 
	border-width:2px; 
	display:  block;
	
	}


@media(max-width:1200px)
{
	
	

}
@media(max-width:991px)
{
	

}

@media(max-width:768px)
{
	.aboutusimg{
	
width:380px;

	margin: 0 2.5em 3em 2.5em; 
	padding:0 0 0em 1.5em;
	border-style:solid; 
	border-color:#333; 
	border-width:0px; 
	display:  block;
	
	}

}


@media(max-width:480px)
{

	.aboutusimg{
	
width:80vw;

  margin-left: auto;
  margin-right: auto;

	padding:0 5px 1em 5px;
	border-style:solid; 
	border-color:#333; 
	border-width:0px; 
	display:  block;
	
	}

}
