@charset "utf-8";
/* CSS Document */



.teamcontainer
{
	max-width:1140px;
	
	min-height:600px;
	display:flex;
  justify-content:center;

	flex-wrap:wrap;
	
	font-family:'Microsoft JhengHei',sans-serif;
	color:#f5f2f9;
		
		

}

.card
{
	position:relative;
	width:calc(80% - 20px);
	min-height:380px;
	background:#313232;
	margin:10px;
	box-sizing:border-box;
	
	
	border-style:solid;
    border-width:1px;/*框粗細*/
	
	border-radius:0px;/*圓框角度*/
    border-color:#4a4a4a;
}

.card .imgBx
{
	position:absolute;
	width:35%;
	height:100%;

	
	}
.card .imgBx img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	background-position: top right 50px;
	
}

.card .details{

position:absolute;
right:0;
width:65%;
height:100%;
box-sizing: border-box;
display: flex; 
justify-content: center; 
align-items: center; 

}
.card .details .content
{
	
	padding:20px 0 0 30px;
	box-sizing:border-box;
	width:100%;
	height:100%;
	
}

.card .details .content h2
{
	
	
	margin:0;
	padding:0;
	font-size:24px;
	line-height:0.85em;
	font-weight:600;
}

.tiltecolorp1{
color:#ababac;
font-size:16px;

}
	
.card .details .content h2 span
{
 font-size: 14px;
 color#777;
}
.card .details .content ul
{
	margin:0;
	padding:0;

}

.card .details .content ul li
{
 	list-style:none;
	margin-left:2px;
 }

.card .details .content ul li a
{
 	color: #fff;
	border:none;
 }

.card .details .content ul li:nth-child(1) a
{
 	background:#3b5995; 
}
.card .details .content ul li:nth-child(2) a
{
 	background:#55acee; 
}	
.card .details .content ul li:nth-child(3) a
{
 	background:#b31217; 
}
	
	

.card .details .content a
{
	display:inline-block;
	text-decoration:none;
	padding:5px 10px;
	margin-top:10px;
	border:2px solid #19d1c7;
	color:#19d1c7;
	font-weight:500;
}
.card .details .content a:hover
{
	background:#19d1c7;
	color:#fff;
}


.qualification{
		background-color:#111;
	border-style:solid;
	border-width:1px;
	border-color:#333;
	color:#fff;
	width:100%;
	padding:60px 50px 50px 50px;
}
.qualification h1{
	color:#19d1c7;
	font-size:22px;
	margin-bottom:20px;
}

.qualification P{
	color:#CCC;
	font-size:18px;
}


		.page{

			position:relative;	
			background-image:url('../images/ex6_2_a2.png');
			background-repeat: no-repeat;
			background-position:right 90px top 90px ;
			background-size:450px ;
	
		}

.partner{
	
	
	width:220px; 
	height:55px; 
	margin:20px; 
	padding-top:3px;	
	border-style:solid; 
	background:#313232; 
	border-width:1px;/*框粗細*/ 
	border-radius:0px;/*圓框角度*/  
	border-color:#4a4a4a; }




@media(max-width:1200px)
{
	
	
	.container
	{

	}
}
@media(max-width:991px)
{
	
	.card
	{
		width: calc(100% - 20px);
		
		margin:10px auto;
	}
	.card .details
	{
		margin:10px 10px 10px 10px;
	}
		.page{
			

			position:relative;	
			background-image:url('../images/ex6_2_a2.png');
			background-repeat: no-repeat;
			background-position:right 30px top 30px ;
			background-size:330px ;
	
	
	}		

}

@media(max-width:768px)
{
	
	.card
	{
		width: calc(76% - 10px);
		margin:10px auto;
	}
		.card .imgBx
	{
		position:relative;
		width:100%;
		height:410px;
	}
			.card .details
	{
		position:relative;
		width:100%;
		height:390px;
	}
	
	.card .details .content
{
	
	padding:5px 15px 15px 10px;
	box-sizing:border-box;
	width:100%;
	height:100%;
	
}


		.page{
			

			position:relative;	
			background-image:url('../images/ex6_2_a2.png');
			background-repeat: no-repeat;
			background-position:right 90px top 90px ;
			background-size:450px ;
			background-position: -9999px -9999px
	
		}
}


@media(max-width:480px)
{
	
	.card
	{
		width: calc(98% - 10px);
		margin:10px auto;
	}
}
