@charset "utf-8";
/* CSS Document */


	
	a:link{
	//設定還沒有瀏覽過的連結
	text-decoration:none;
	background-color:#ffffff;
	}
	a:visited {
	//設定已經瀏覽過的連結
	color:#ffffff;
	
	}
	a:hover {
	//設定滑鼠移經的連結
	text-decoration:underline;
	
	color:gray;
	}
	a:active {
	//設定正在點選的連結
	text-decoration:none;
	
	color:#fafafa;
	}
